{{define "create_product"}}
{{template "header"}}

<div class="card">
    <div class="card-header">
        Add Product
    </div>
    <div class="card-body">
        <form method="post" action="/products">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="productName" name="productName" placeholder="Coca-cola">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control" id="productDescription" name="productDescription" placeholder="description in product">
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="text" class="form-control" id="productPrice" name="productPrice" placeholder="$100">
            </div>
            

            <div class="form-group">
                <label for="">Category</label>
                <select class="form-control" name="productNameCategory" id="productNameCategory">
                {{range .}}
                    <option>{{.Name}}</option>
                {{end}}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">New Product</button>
            <a href="/listproducts" class="btn btn-info" role="button">Cancel</a>
        </form>
    </div>
{{template "footer"}}
{{end}}