{{define "delete_category"}}
{{template "header"}}

<div class="card">
    <div class="card-header">
        Are you sure you want to delete?
    </div>
    <div class="card-body">
        <form method="post" action="/deletecategories">
            <div class="form-group">
                <input type="hidden" class="form-control" id="id" name="id" value="{{.ID}}" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Name:</label>
                <input type="text" readonly="readonly" class="form-control" id="categoryName" name="categoryName" value="{{.Name}}">
            </div>
            <div class="form-group">
                <label for="">Description:</label>
                <input type="text" readonly="readonly" class="form-control" id="categoryDescription" name="categoryDescription"  value="{{.Description}}">
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
            <a href="/listcategories" class="btn btn-info" role="button">Cancel</a>
        </form>
    </div>
{{template "footer"}}
{{end}}